OPENCODE_IMAGE=ghcr.io/anomalyco/opencode:latest

OPENCODE_PROVIDER_ID=deepseek-anthropic
OPENCODE_PROVIDER_NAME=DeepSeek Anthropic
OPENCODE_PROVIDER_NPM=@ai-sdk/anthropic
OPENCODE_API_BASE_URL=https://api.deepseek.com/anthropic
OPENCODE_API_KEY=replace-with-your-deepseek-api-key

OPENCODE_MODEL=deepseek-v4-flash
OPENCODE_MODEL_DISPLAY_NAME=DeepSeek V4 Flash
OPENCODE_MODEL_REASONING=false
OPENCODE_MODEL_CONTEXT=128000
OPENCODE_MODEL_OUTPUT=64000

CHROME_DEVTOOLS_HOST=192.168.65.254
CHROME_DEVTOOLS_CNVD_PORT=9332
CHROME_DEVTOOLS_CNNVD_PORT=9333
CHROME_DEVTOOLS_NCC_PORT=9334
